            body {
                font-family: "ubuntu", sans-serif;
                color: black;
            }
            
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-weight: 900;
            }
            
            footer {
                background-color: aliceblue;
                padding-top: 5rem;
                text-align: center;
            }
            
            .btn {
                margin: 5% 2%;
            }
            
            .colored-section {
                background-color: salmon;
            }
            
            .container-fluid {
                padding: 7% 15%;
            }
            /* HEADING / JUMBOTRON / TITLE SECTION*/
            
            #title .container-fluid {
                padding: 3% 15% 7%;
            }
            
            .navbar {
                padding-left: 0;
                padding-bottom: 4.5rem;
            }
            
            .navbar-brand {
                font-size: 2.5rem;
            }
            
            .nav-item {
                font-size: 1.2rem;
                padding-left: 20px;
            }
            
            .jumbotron-title {
                color: aliceblue;
                font-size: 3.5rem;
                line-height: 1.5;
                font-weight: 900;
            }
            
            .phone-img {
                right: 15%;
                width: 60%;
                transform: rotate(20deg);
                position: absolute;
                z-index: -1;
            }
            
            @media (max-width: 1028px) {
                .phone-img {
                    transform: rotate(0);
                    position: static;
                }
            }
            
            @media (min-width: 2000px) {
                .phone-img {
                    width: 50%;
                }
            }
            /* FEATURES SECTION */
            
            .features-container {
                background-color: aliceblue;
                text-align: center;
                color: salmon;
            }
            
            .feature-title {
                font-size: 3rem;
                line-height: 1.3;
            }
            
            .feature-item-icon:hover {
                color: red;
            }
            /* TESTIMONIALS SECTION */
            
            #testimonials {
                text-align: center;
            }
            
            .testimonial-text {
                font-size: 3rem;
                line-height: 1.5;
            }
            
            #testimonials {
                color: aliceblue;
            }
            
            .testimonial-img {
                width: 15%;
                border-radius: 100%;
                margin: 20px;
            }
            /* PRESS SECTION */
            
            #press {
                text-align: center;
                padding-bottom: 3%;
            }
            /* PRICING SECTION */
            
            #pricing {
                background-color: aliceblue;
                text-align: center;
            }
            
            .pricing-lead-title {
                color: salmon;
            }
            
            .pricing-card-title {
                font-size: 3rem;
                line-height: 1.5;
            }
            
            .pricing-lead {
                font-style: italic;
            }
            
            .press-img {
                width: 11%;
                margin: 20px 20px 50px;
            }
            
            .card-header {
                background-color: salmon;
                color: aliceblue;
            }
            /* CALL TO ACTION */
            
            #cta {
                background-color: salmon;
                text-align: center;
            }
            
            .cta-title {
                color: aliceblue;
            }
            /* FOOTER */
            
            .social-media-link {
                color: lightslategray;
                padding: 1rem;
            }
            
            .social-media-link:hover {
                color: salmon;
            }
            
            .copyright {
                padding-top: 1rem;
                margin: 0;
            }